hr {
    width: 200%;
    margin-left: -40px;
    border: 0;
    opacity: 0.1;
    border-bottom: 1px solid var(--black);
}

.font-title-big {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.font-title-small {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.font-price-bold {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.font-bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.font-regular {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.grid {
    display: grid;
    grid-gap: 16px;
    --cols: 12;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}

.item {
    min-width: 0;
    width: 100%;
    --span: 1;
    grid-column: span var(--span);
}

.search-line {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 459px;
    height: 45px;
    margin-left: 8px;
}

.search {
    flex-grow: 1;
    padding: 14px 34px;
    background: url("../img/search.svg") no-repeat 10px;
    border: 1px solid var(--orange-button);
    border-radius: 4px;
    margin-right: -10px;
    min-width: 10px;
}

.search::placeholder {
    color: var(--black);
    opacity: 0.2;
}

.input {
    border: 1px solid var(--input-border);
    border-radius: 4px;
    height: 45px;
    max-width: 272px;
    padding: 12px;
    margin-left: 5px;
    font-size: 16px;
    line-height: 20px;
}

.input::placeholder {
    color: var(--black);
    opacity: 0.2;
}

.orange-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange-button);
    border: 1px solid var(--orange-button);
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 20px;
    height: 31px;
    max-width: 118px;
    min-width: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.orange-button:hover {
    background-color: var(--orange-button-hover);
    border-color: var(--orange-button-hover);
}

.orange-button:active {
    background-color: var(--orange-button-click);
    border-color: var(--orange-button-click);
}

.orange-button-big {
    max-width: 296px;
    height: 45px;
    padding: 14px 32px;
}

.orange-button img {
    padding-right: 10px;
}

.white-button {
    background: var(--white);
    border: 1px solid var(--gray-border-cards);
    border-radius: 4px;
    cursor: pointer;
    max-height: 37px;
    max-width: 137px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.white-button-big {
    max-width: 220px;
    max-height: 45px;
    min-width: 220px;
    padding: 14px 32px;
}

.white-button-menu {
    background: var(--white);
    border: 1px solid var(--white);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.white-button-menu span {
    display: flex;
}

.orange-text {
    color: var(--orange-text);
}

.checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__text {
    display: inline-flex;
    align-items: center;
    user-select: none;
    border: none;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 8px;
}

.checkbox > .checkbox__text::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 8px;
    border: 1px solid var(--gray-line);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: var(--white)
}

.checkbox > input:checked + .checkbox__text::before {
    background-image: url("../img/V.svg");
}

.checkbox > input:disabled + .checkbox__text::before {
    background-color: var(--white)
}

.radio > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.radio > span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.radio > span::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid var(--black);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    margin-right: 12px;
}

.radio > input:checked + span::before {
    border: 2px solid var(--orange-button);
    background-image: url("../img/radio.svg");
}

.counter-block {
    display: flex;
    align-items: center;
    width: 77px;
    justify-content: space-between;
    text-transform: capitalize;
}

.counter {
    border: 1px solid var(--gray-line);
    border-radius: 4px;
    padding: 8px;
    height: 24px;
    width: 24px;
}

button:focus,
input:focus,
a:focus {
    outline: none;
    border: 1px solid red;
}

@media screen and (max-width: 1190px) {
    .grid {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .search-line {
        flex-grow: 0;
        overflow: scroll;
    }

    .search {
        flex-grow: 0;
        padding: 14px 0 14px 34px;
        margin: 0;
    }

}