.filter {
    width: 296px;
    height: 609px;
    margin-top: 25px;
    padding: 16px;
    background-color: var(--gray-filter);
    border-radius: 8px;
    overflow: hidden;
}

.separate-filter {
    display: none;
}

.filter-hide {
    display: none;
}

.filter hr {
    margin-left: -15px;
    opacity: 1;
    border-bottom: 1px solid var(--gray-line);
    margin-top: 14px;
}

.filter > span {
    padding: 16px 0;
    font-size: 16px;
    line-height: 20px;
}

.filter .filter__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter .filter__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 0;
}

.filter .filter__item {
    letter-spacing: -0.02em;
}

.filter .search {
    height: 32px;
    max-height: 264px;
    border: none;
    background-color: var(--white);
    margin-bottom: 18px;
}

.filter .filter__input {
    height: 32px;
    width: 70px;
    margin: 0 14px;
    padding-left: 12px;
    border: none;
    border-radius: 4px;
    text-align: center;
}

@media screen and (max-width: 1190px) {
    .filter {
        display: none;
    }

    .filter-hide {
        display: flex;
        margin-top: 16px;
    }

    .filter-hide .orange-text {
        color: var(--orange-button);
        margin-left: 5px;
    }
}
