:root {
    --black: #000000;
    --white: #FFFFFF;
    --background: #F9F9F9;
    --orange-button: #FBBA3C;
    --orange-icons: #FF9702;
    --orange-button-click: #FAAA0F;
    --orange-button-hover: #FCD17D;
    --orange-text: #FF9702;
    --gray-line: #E8E8E8;
    --gray-border-cards: #EAEAEA;
    --gray-filter: #F2F2F2;
    --gray-text: #323232;
    --red-menu: #E95342;
    --input-border: #C4C4C4;
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--white);
    max-width: 1232px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--white);
}

.button-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.button-menu-hide {
    display: none;
}

.main {
    background-color: var(--background);
    min-height: calc(100vh - 80px);
    padding: 14px 40px;
    overflow: hidden;
}

.menu {
    max-height: 98px;
}

.menu .path {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
}

.menu .title {
    padding-bottom: 16px;
}

.product-section {
    margin-top: 25px;
    flex-grow: 1;
    align-items: center;
}

.product-section .button {
    text-align: center;
    margin: 42px auto 68px;
}

.product-list {
    display: grid;
    grid-gap: 16px;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-list__item {
    max-width: 216px;
    border: 1px solid var(--gray-border-cards);
    border-radius: 4px;
}

.product-list__item:hover .product-list__name {
    color: var(--orange-button);
}

.product-list__item:active {
    border-color: var(--orange-button);
}

.product-list__name {
    text-transform: capitalize;
    margin-bottom: 4px;
}

.product-list__cost {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

.product-list__description {
    margin-top: -40px;
    padding: 14px 2px 14px 14px;
}

.image-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    cursor: pointer;
}

.image-wrapper > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-wrapper > div > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}

@media screen and (max-width: 1023px) {
    .search-line .orange-button {
        display: none;
    }
}

@media screen and (max-width: 639px) {

    .product-list {
        display: block;
    }

    .product-list__item {
        margin: 0 auto 23px auto;
    }

    .button-menu {
        display: none;
    }

    .button-menu-hide {
        display: flex;
        margin: 0 20px 0 5px;
    }

    .button-menu-hide .orange-button {
        max-width: 56px;
        min-width: 56px;
        height: 45px;
    }

    .button-menu-hide .orange-button img {
        padding: 0;
    }
}